{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Movie | HUNTER{% endblock title %}
<!-- Main -->
{% block content %} 
    <div id="main">
        <!-- Content -->
        <div id="content">

            <!-- Box Latest -->
            <div class="box">
                <div class="head">
                    <h2>LATEST</h2>
                    <p class="text-right"><a class="a_underline" href="#">See all</a></p>
                </div>
                
                <!-- Movie -->
                {% for  movie in all_movies %}
                    <div class="movie last">
                        <div class="movie-image">
                            <a href="#">
                                <span class="res-icon">{{ movie.resolution }}</span>
                                <span class="play">
                                    <span class="name">{{ movie.title }}</span>
                                </span><img src="{{ movie.img }}" alt="movie" />
                            </a>
                        </div>
                        <div class="rating">
                            <p>RATING</p>
                            <div class="stars">
                                <div class="stars-in">
                                    
                                </div>
                            </div>
                            <span class="comments">12</span>
                        </div>
                    </div>
                {% endfor %}
                <div class="movie">
                    <div class="movie-image">
                        <a href="#">
                            <span class="res-icon">HD</span>
                            <span class="play">
                                <span class="name">ANGELS &amp; DEMONS</span>
                            </span>    
                            <img src="{% static 'own/css/images/coming.jpg' %}" alt="movie" />
                        </a>
                    </div>  
<!--                     <div class="rating">
                        <p>RATING</p>
                        <div class="stars">
                            <div class="stars-in">
                                
                            </div>
                        </div>
                        <span class="comments">12</span>
                    </div> -->
                </div>
                    <!-- end Movie -->
                
                <div class="cl">&nbsp;</div>
            </div>
            <!-- end Box Latest -->
            
            <!-- Box Top Rate -->
            <div class="box">
                <div class="head">
                    <h2>TOP RATED</h2>
                    <p class="text-right"><a class="a_underline" href="#">See all</a></p>
                </div>

                <!-- Movie -->
                <div class="movie">
                    <div class="movie-image">
                        <a href="#">
                            <span class="res-icon">HD</span>
                            <span class="play">
                                <span class="name">ANGELS &amp; DEMONS</span>
                            </span>    
                            <img src="{% static 'own/css/images/coming.jpg' %}" alt="movie" />
                        </a>
                    </div>	
<!--                     <div class="rating">
                        <p>RATING</p>
                        <div class="stars">
                            <div class="stars-in">
                                
                            </div>
                        </div>
                        <span class="comments">12</span>
                    </div> -->
                </div>
                <!-- end Movie -->
                <div class="cl">&nbsp;</div>
            </div>
            <!-- end Box Top Rate -->
            
            <!-- Box Most Comment -->
            <div class="box">
                <div class="head">
                    <h2>MOST POPULAR</h2>
                    <p class="text-right"><a class="a_underline" href="#">See all</a></p>
                </div>
                
                <!-- Movie -->
                <div class="movie last">
                    <div class="movie-image">
                        <span class="res-icon">HD</span>
                        <a href="#">
                            <span class="play">
                                <span class="name">THE PRESTIGE</span>
                            </span><img src="css/images/movie18.jpg" alt="movie" />
                        </a>
                    </div>	
                    <div class="rating">
                        <p>RATING</p>
                        <div class="stars">
                            <div class="stars-in">
                                
                            </div>
                        </div>
                        <span class="comments">12</span>
                    </div>
                </div>
                <!-- end Movie -->
                <div class="cl">&nbsp;</div>
            </div>
            <!-- end Box Top Comment -->
            
        </div>
        <!-- end Content -->

        <!-- NEWS -->
        <div id="news">
            <div class="head">
                <h3>NEWS</h3>
                <p class="text-right"><a class="a_underline" href="#">See all</a></p>
            </div>
            
            <div class="content">
                <p class="date">12.04.09</p>
                <h4>Disney's A Christmas Carol</h4>
                <p>&quot;Disney's A Christmas Carol,&quot; a multi-sensory thrill ride re-envisioned by Academy Award&reg;-winning filmmaker Robert Zemeckis, captures... </p>
                <a href="#">Read more</a>
            </div>
            <div class="content">
                <p class="date">11.04.09</p>
                <h4>Where the Wild Things Are</h4>
                <p>Innovative director Spike Jonze collaborates with celebrated author Maurice Sendak to bring one of the most beloved books of all time to the big screen in &quot;Where the Wild Things Are,&quot;...</p>
                <a href="#">Read more</a>
            </div>
            <div class="content">
                <p class="date">10.04.09</p>
                <h4>The Box</h4>
                <p>Norma and Arthur Lewis are a suburban couple with a young child who receive an anonymous gift bearing fatal and irrevocable consequences.</p>
                <a href="#">Read more</a>
            </div>
        </div>
        <!-- end NEWS -->
        
        <!-- Coming -->
        <div id="coming">
            <div class="head">
                <h3>COMING SOON<strong>!</strong></h3>
                <p class="text-right"><a class="a_underline" href="#">See all</a></p>
            </div>
            <div class="content">
                <h4>The Princess and the Frog </h4>
                    <a href="#"><img src="css/images/coming-soon1.jpg" alt="coming soon" /></a>
                <p>Walt Disney Animation Studios presents the musical "The Princess and the Frog," an animated comedy set in the great city of New Orleans...</p>
                <a href="#">Read more</a>
            </div>
            <div class="cl">&nbsp;</div>
            <div class="content">
                <h4>The Princess and the Frog </h4>
                    <a href="#"><img src="css/images/coming-soon2.jpg" alt="coming soon" /></a>
                <p>Walt Disney Animation Studios presents the musical "The Princess and the Frog," an animated comedy set in the great city of New Orleans...</p>
                <a href="#">Read more</a>
            </div>
        </div>
        <!-- end Coming -->
        <div class="cl">&nbsp;</div>
    </div>
    <!-- end Main -->
{% endblock %}