
.filter-btn a {
	margin-left:83px;
	padding: 10px;
	background: rgb(242, 162, 35)/*white*/;
	border-radius:  2px;
	color:white/*#666666*/;
	font-size: 13px;
	font-weight: bold;

}
.filter a:hover {background: #F5F5F5;color:#666666;text-decoration: none;}

.filter-sett {margin:10px 0 10px 0;padding:20px 0 1px;}
.filter-sett .row {margin-bottom:15px;}

.filter-sett .row div h3 {font-size: 16px !important;}
.filter-each-box {font-size: 13px;padding: 10px;border-radius: 2px;background: white;color:black;}
.filter-each-box ul {list-style: none;margin-bottom:0;}
.filter-each-box ul li {display: inline;}
.filter-each-box ul label {margin:0;}

.filter-cfm-btn a {padding: 10px 50px 10px 50px;
	background: #e7b038;
	border-radius: 2px;
	color:white !important;
	font-weight: bold;
	font-size:13px;
}
.filter-cfm-btn a:hover{color: #666666 !important;}


/*.filter-cfm-btn:hover {}*/

[type="checkbox"]{vertical-align: bottom}

.pagination li a {
	margin: 0 5px 0 5px;
	padding: 7px 10px 7px 10px;
	border-radius: 2px;
	color:white/*;rgb(102, 102, 102)*/;
	background: rgb(242, 162, 35);
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
}
.pagination li a:hover{background: #F5F5F5;color:  #666666;}

.under-movie {padding-bottom: 12px; }
