{% extends "base.html" %}
{% block title %}Movie | Transfomer{% endblock title %}
{% load staticfiles %}
{% block link %}
<link rel="stylesheet" href="{% static 'own/css/movie-detail.css' %}">

{% endblock link %}
{% block content %}
	<div class="container" style="margin-top:30px;">
		<div class="row video">
			<video width="1056" height="600" controls style="background: black;">
				<source src="{{ instance.video.url }}" type="video/mp4">
			</video>
		</div>
		<div class="row fav-re">
			<div class="col-sm-6 fav">
				<a href="#"><i class="fa fa-heart" aria-hidden="true"></i>  Favorite</a>
			</div>
			<div class="col re">
				<a href="#"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  Report</a>
			</div>
		</div>

		{% if instance.movie  %}   <!-- show only when the film is type of tv series -->
		<div class="row" id="epi-select">
			<div class="col">
				<ul>
					{% for e in relate_ep %}
					<li>
						<a href="{{ e.get_absolute_url }}">
						{{ e.title }}
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}

		<!-- Movie description -->
		<div class="row main-desc">
		{% if instance.movie %}
			<div class="col-sm-8">
				<div class="row desc-side">

					<!-- Movie img -->
					<div class="col-sm-3"><img src="{{ instance.movie.img.url }}" class="img-thumbnail"></div>

					<!-- Caption -->
					<div class="col no-gutters border-right" >
						<h1 class="h-bl" data-movie-Id="3" >{{ instance.movie.title }}</h1>
						<p>{{ instance.movie.caption }}</p>

						<!-- country,release,genre,resolution -->
						<ul class="li-desc">
							<li>
								<h5 class="h-bl">Genre : </h5>
								{% for genre in instance.movie.genre.all %}
								<a href="#">{{ genre.name | capfirst }}</a>,
								{% endfor %}
							</li>
							<li>
								<h5 class="h-bl">Country : </h5>
								<a href="#">{{ instance.movie.language|capfirst }}</a>
							</li>
							<li>
								<h5 class="h-bl">Release : </h5>
								<a href="#">{{ instance.movie.release }}</a>
							</li>
							<li>
								<h5 class="h-bl">Quality : </h5>
								<a href="#">{{ instance.movie.reso|upper }}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>


			<!-- Rating -->
			<div class="col ">
				<div class="row rate-side">

					<div class="col-sm-2 icon-red"><p>{{ instance.movie.rate_aver }}<p></div>
					<div class="col">
						<p>RATING({{ instance.movie.number_rater }})</p>
						<div>
							<ul class="rate-star">
								<li><i class="fa fa-star" data-value="1" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" data-value="2" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" data-value="3" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" data-value="4" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" data-value="5" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" data-value="6" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" data-value="7" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" data-value="8" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" data-value="9" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" data-value="10" aria-hidden="true"></i></li>
							</ul>
						</div>
						<p>
							<i class="loading fa fa-circle-o-notch fa-spin fa-fw" style="font-size: 20px;margin-top: 5px;display: none;color:#ccc;"></i>
						</p>
					</div>
				</div>
			</div>
			<!-- End Rating -->
		{% else %} <!-- if the film is type of Tv-series we get the html for it -->
			{% include 'movie-detail-extra.html' %}
		{% endif %}
		</div>
		<!-- End movie description -->

		<!-- Other movie -->
		<div class="row oth-movie">
			<p>YOU MIGHT ALSO LIKE</p>
        <div class="box">

          <!-- Movie -->
          <div class="movie">
            <div class="movie-image">
              <a href="#">
                <span class="res-icon">HD</span>
                <span class="play">
                    <span class="name">ANGELS &amp; DEMONS</span>
                </span>
                <img src="{% static 'own/css/images/coming.jpg' %}" alt="movie" />
              </a>
            </div>
          </div>
          <!-- end Movie -->
          <div class="cl">&nbsp;</div>
        </div>
		</div>
	<!-- End Other movie -->
	<script type="text/javascript">
		var clicked;
		var stars = $(".rate-star li");
		var restarted = true;

		function get_number(elem){
			var value = elem.text().match('[.0-9,]+')
			var num = value.toString().split(',').toString();
			return parseFloat(num);
		}


		function setColor(elem){
			$(elem).children().addClass("active");
		}

		$(stars).hover(function(){
			click = false;
			var i;

			var selected = stars.slice(0,stars.index(this)+1);

			for(i=0;i<=stars.index(this)+1;i++){
				setColor(selected.eq(i));
			}
			$(this).click(function(){

				if(restarted){
					$("p .loading").show();

					var star_value = $(this).children().first().data("value"); // get the star value
					// var rater = $(".rate-side .col p");
					// var rating = $(".icon-red p");
					var new_rate;

					$.get("{% url 'rate:add-rate' %}", // sent request to server to change DB
					{
					    movie_id: {% if instance.movie %}{{ instance.movie.id }}{% else %}{{ instance.id }}{% endif %},
					    rate: star_value
					},).done(function(data){
						console.log(data)
						$(".icon-red p").text(data);
					})

					restarted = false;
					$("p .loading").hide()
				}

				click = true;
				return click;
			})

		},function(){
			if(click){
				return;
			}
			stars.children().removeClass("active");
		})
	</script>
	</div>

{% endblock content %}
